@charset "utf-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

body {
    background-color: #B9FFB5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2D8029;
    color: white;
    text-align: center;
}

nav > a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

main {
    background-color: white;
    margin: 20px;
    padding: 15px;
}

section#historia > article{
    background-color: #2D8029;
}

section#historia > h1{
    font-family: android, serif;
    font-size: 30px;
    color: #2D8029;
}

section#historia > h2{
    font-family: android, serif;
    font-size: 25px;
    background-color: #e8ffe6;
    color: #2D8029;
}

section#extra {
    font-size: 15px;
    font-weight: bold;
    background-color: #94CD91;
    margin: 10px;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
}

section#extra > h2{
    font-size: 15px;
    background-color: #2D8029;
    color: white;
    margin-inline: -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: #1d501a;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}